# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages in Data Science
* List commonly used librares in Data Science
* List the tools used in Data Science
* Perform arithemtic expressions
* Perform different actions on Markdown

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Scikit-learn
3. TensorFlow
4. PyTorch

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

# This a simple arithmetic expression to mutiply then add integers

17

In [5]:
200/6

# This will convert 200 minutes to hours by diving by 60

33.333333333333336